<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CustomtemplatefieldMapper">
	
	<!--表名 -->
	<sql id="tableName">
		T_CUSTOM_TEMPLATE_FIELD
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		ID,
		CUS_TEMP_ID,	
		FIELD_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{ID},
		#{CUS_TEMP_ID},	
		#{FIELD_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			ID = #{ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			CUS_TEMP_ID=#{CUS_TEMP_ID},	
			FIELD_ID=#{FIELD_ID}
		where 
			ID = #{ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			ID = #{ID}
	</select>
	
	<!-- 通过ID获取数据 -->
	<select id="findByCusid" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			CUS_TEMP_ID = #{CUS_TEMP_ID}
			and FIELD_ID=#{FIELD_ID}
			<if test="ID!= null and ID != ''">
				and ID=#{ID}
			</if>
	</select>
	
	<!-- 列表 -->
	<select id="datalist" parameterType="page" resultType="pd">
		select 
		b.ID,
		b.FIELD_ID,
		b.CUS_TEMP_ID,
		a.FIELDNAME,	
		a.FIELD,		
		a.FIELDTYPE,	
		a.FIELDNUM,	
		a.CREATEMAN,
		a.CREATEDATE,
		d.name as FIELDTYPENAME
		from  
		<include refid="tableName"></include> b
			left join	T_FIELD a  on a.ID=b.FIELD_ID
			left join SYS_DICTIONARIES d on a.FIELDTYPE=d.name_en
		where 1=1
		<if test="pd.CUS_TEMP_ID!= null and pd.CUS_TEMP_ID != ''"><!-- 关键词检索 -->
			and CUS_TEMP_ID = #{pd.CUS_TEMP_ID}
		</if>
		
		
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		a.ID,
		a.CUS_TEMP_ID,	
		a.FIELD_ID,
		b.FIELDNAME,
		b.FIELD,
		b.FIELDTYPE,
		b.ISTEL,
		b.ISBASIC
		from 
		<include refid="tableName"></include> a 
		left join  T_FIELD b on a.field_id=b.id
		where 1=1 
		<if test="CUS_TEMP_ID!= null and CUS_TEMP_ID != ''"><!-- 关键词检索 -->
			and a.CUS_TEMP_ID = #{CUS_TEMP_ID}
		</if>
		<if test="ISSHOW!= null and ISSHOW != ''">
			and ISSHOW=#{ISSHOW}
		</if>
		<if test="ISPE!= null and ISPE!= ''"><!-- 关键词检索 -->
			and ISPE = #{ISPE}
		</if>
		order by b.px asc,ISBASIC desc
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
		</foreach>
	</delete>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findByAddr" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			startaddr = #{STARTADDR}
	</select>
	
	<!-- 351412933 -->
</mapper>