<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CliamMapper">
    <delete id="deleteCliamById" parameterType="pd" >
    <if test="id != null and id != ''">
        delete from lost_cliam where id in (select article_claimant from lostandfound_article where id = #{id});
    </if>
    </delete>

</mapper>