<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ZXstateMapper">


	<select id="getNumberByStateLike" parameterType="page"
		resultType="pd">
		SELECT a.zxid,a.zxxm,b.phone,b.state,DATE_FORMAT(b.updatetime,'%Y-%m-%d %H:%i:%s') updatetime
		FROM tzxlb a
		INNER JOIN t_agentstate b
		ON a.zxid=b.agentid
		WHERE a.zxz=(select id FROM tzxz WHERE zbh=#{zbh}) AND
		a.`zxid` LIKE #{keywords};
	</select>
</mapper>
