.index-middle {
    height: 55%;
    width: 22%;
    position: absolute;
    top: 12%;
    right: 13.5%;
    background-color: #fff;
    border-radius: 30px;
    /* box-shadow: 2px 3px 15px #e5e5e5; */

}

.drjm {
    height: 100%;
    width: 76%;
    padding: 6% 12%;
}

.username {
    width: 99.5%;
    margin-top: 8%;
    height: 8%;
    border: #eef1f4 solid 2px;
    display: flex;
    /*  border-radius: 10px;*/
    background: #fff;
}

.yhm-left {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/icon_06.png") no-repeat center;
    width: 12%;
    background-size: 65%;
}

.yhm-bjt {
    background: url("../images/icon_17.png") no-repeat center !important;
    background-size: 65% !important;
}

.yzm-bjt {
    background: url("../images/icon_19.png") no-repeat center !important;
    background-size: 65% !important;
}

.user {
    display: flex;
    width: 87%;
    align-items: center;
}

.user input {
    border: 0;
    outline: none;
    text-indent: 0.3em;
    font-size: 15px;
    color: #b3b3b3;
    width: 100%;
    padding: 0 !important;
    height: 100%;
}

.wjmm-q {
    height: 10%;
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 0;
}

#check {
    display: flex;
}

.drjm-logo {
    width: 100%;
    margin: 8% 0 15% 0;
}

.drjm-logo img {
    /*width: 100%;*/
}

#check .input_check {
    position: absolute;
    width: 18px;
    height: 18px;
    visibility: hidden;
    background: #E92333;
    border: #ee8a28 solid 1px;
}

#check span {
    position: relative;
    margin-top: 1%;
}

#check .input_check + label {
    cursor: pointer;
    display: inline-block;
    border: #ee8a28 solid 1px;
    width: 18px;
    height: 18px;
    background: url(../images/icon_22.png) no-repeat;
    background-position: -31px -3px;
}

#check .input_check:checked + label {
    background-position: -2px -2px;
}

.sb {
    padding-left: 10px;
    color: #feb974;
    font-size: 16px;
}

.dr {
    width: 100%;
    height: 12%;
    border-radius: 15px;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 7%;
    background: -webkit-linear-gradient(left, #0a89ff, #3d5cfa); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #0a89ff, #3d5cfa); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #0a89ff, #3d5cfa); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #0a89ff, #3d5cfa); /* ��׼���﷨������������ */
}

.dr a {
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.index-yzm {
    border-radius: 5px;
    height: 80%;
    width: 53%;
    float: right;
    margin-top: 1%;
    margin-left: 1.5%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-items: center;
}

.index-yzm a {
    height: 100%;
    width: 100%;
}

.xyhzc {
    background: url("../images/icon-zhuce.png") no-repeat left center;
    font-size: 16px;
    color: #afce7e;
    padding-left: 30px;
}

.xyhzc a {
    color: #afce7e;
}

.dropdown-sz-tp {
    background: url("../images/icon-set.png") no-repeat center left;
    padding-left: 33px !important;
}

.dropdown-tc-tp {
    background: url("../images/icon-exit.png") no-repeat center left;
    padding-left: 33px !important;
}

.dropdown-sz-tp:hover {
    background: url("../images/icon-set.png") no-repeat center left !important;
}

.dropdown-tc-tp:hover {
    background: url("../images/icon-exit.png") no-repeat center left !important;
}

.dropdown-sz {
    padding-left: 20px !important;
}

.logo-lg {
    background: url("../images/gz.png") no-repeat left center;
    background-size: 25px;
}

.seat-sk {
    float: left;
    height: 25px;
    width: 170px;
    border-radius: 20px;
    background: #fff;
    margin: 8px 0 0 10px;
}

.seat-sk input {
    border: 0;
    border-radius: 20px;
    height: 100%;
    text-indent: 1em;
    width: 130px;
    outline: none;
    font-size: 16px;
}

input::-webkit-input-placeholder {
    color: #bac0c9;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #bac0c9;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #bac0c9;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bac0c9;
}

.seat-sk a img {
    width: 22px;
    height: 22px;
    margin-top: 1px;
}

.seat-xtgly {
    background: url("../images/icon-guanliyuan.png") no-repeat left;
    padding-left: 25px !important;
    font-size: 11px;
}

.seat-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 10px 0;
    width: 100%;
}

.sidebar-menu > li {
    border-bottom: #495466 solid 1px;
}

.main-sidebar, .main-header .logo {
    width: 195px;
}

.content-wrapper, .main-header .navbar {
    margin-left: 195px;
}

.skin-blue .main-sidebar {
    background-color: #343d4c !important;
}

.skin-blue .sidebar-menu > li:hover > a {
    background: #ff7875 !important;
}

.sidebar-menu > li.menu-open > a {
    background: #ff7875 !important;
}

.skin-blue .sidebar-menu > li > .treeview-menu {
    margin: 0 !important;
    background: #495466 !important;
    padding-left: 40px;
}

.skin-blue .sidebar-menu > li > a {
    border: 0 !important;
    display: flex;
    padding-left: 40px;
}

.sidebar-menu > li > a {
    padding: 15px;

}

.treeview span {
    padding-left: 10px;
    font-size: 15px;
}

.seat-rwgl {
    background: url("../images/icon-renwu.png") no-repeat center left;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
}

.seat-zxgl {
    background: url("../images/icon-zuoxi.png") no-repeat center left;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
}

.seat-xtgl {
    background: url("../images/icon-xitong.png") no-repeat center left;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
}

.sidebar-menu > li:hover .seat-rwgl {
    background: url("../images/icon-renwu1.png") no-repeat center left;
}

.sidebar-menu > li.menu-open > a {
    background: url("../images/icon-renwu1.png") no-repeat center left;
}

.skin-blue .sidebar-menu > li > a {
    display: flex;
    align-items: center;
}

.treeview-menu > li {
    background: url("../images/icon_52.png") no-repeat 5px center;
    line-height: 35px;
}

.skin-blue .sidebar-menu .treeview-menu > li > a {
    padding-left: 30px;
    line-height: 40px;
}

.treeview-menu > li:hover {
    background: url("../images/icon_57.png") no-repeat 5px center;
}

.content-header {
    padding: 0 !important;
}

.seat-tab {
    height: 47px;
    display: flex;
    align-items: center;
    background: #fff;
    border-bottom: #d8dcdf solid 3px;
}

.seat-tab li {
    height: 47px;
    line-height: 47px;
    padding: 0 25px;
}

.seat-tab li a {
    background: url("../images/icon-close1.png") no-repeat center right;
    display: inline-block;
    padding-right: 20px;
    letter-spacing: 3px;
    height: 100%;
    color: #b3b3b3;
    font-size: 18px;
}

.seat-tab li a:hover {
    background: url("../images/icon-close2.png") no-repeat center right;
    color: #4a4a4a;
}

.seat-tab li:hover {
    border-bottom: #62ade4 solid 3px;
}

.seat-middle-top-x {
    /*   height: 1px;
      background: #f0f5f9; */
}

.seat-middle-top {
    height: 45px;
    display: flex;
    align-items: center;
    background: #fff;
    margin: 5px 0 15px 0;
    padding: 0 25px 0 15px;
    justify-content: space-between;
}

.seat-middle-top-left {
    display: flex;
}

.seat-middle-top-left-bt {
    color: #489ed9;
    background: url("../images/icon-x.jpg") no-repeat center left;
    padding-left: 12px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.seat-middle-top-right {
    width: 290px;
    height: 30px;
    border: #ededed solid 1px;
    border-radius: 15px;
    display: flex;
}

.seat-middle-top-right input {
    border-radius: 15px;
    text-indent: 1em;
    border: 0;
    height: 27px;
    margin-top: 1px;
    width: 250px;
    font-size: 16px;
    outline: none;
}

.seat-middle-one {
    background: #fff;
    height: 200px;
    border-radius: 15px;
    padding: 0 !important;
    margin-bottom: 15px;
    float: left;
    width: 32.33%;
    margin-right: 1%;
}

.seat-middle-one-top {
    display: flex;
    align-items: center;
    height: 165px;
    position: relative;
}

.seat-middle-one-bottom {
    background: #ff7875;
    color: #fff;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 15px 15px;
}

.seat-middle-one-bottom a {
    color: #fff;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}

.seat-middle-one-bottoma {
    background: #5eaee3;
    color: #fff;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 15px 15px;
}

.seat-middle-one-bottoma a {
    color: #fff;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}

.seat-middle-one-top-r {
    position: absolute;
    right: 25px;
    top: 20px;
}

.seat-middle-one-top-r a {
    display: block;
    padding: 1px;
}

.seat-middle-row {
    margin: 0 !important;
    margin-top: 30px !important;;
}

.seat-middle-one-top-m p {
    padding: 2px 0;
    letter-spacing: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.seat-middle-one-top-m h3 {
    padding-bottom: 5px;
    font-size: 22px;
    color: #4a4a4a;
}

.seat-middle-one-top-m p {
    font-size: 12px;
    color: #4a4a4a;
}

#myCanvas, #myCanvas1, #myCanvas2, #myCanvas3, #myCanvas4, #myCanvas5 {
    margin-top: 45px;
    margin-left: 20px;
}

.seat-middle-nr {
    height: 670px;
    display: flex;
    overflow-y: auto;
    justify-content: space-between;
}

.xtyh-middle-l {
    width: 15%;


}

/* .xtyh-middle-r{
    width: 84.2%;

} */
.xtyh-middle-l li {
    height: 50px;
    border-bottom: #81bef5 solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    background: #4b9dd7;


}

.xtyh-middle-r table thead tr {
    border-bottom: #86bfea solid 1px;
    height: 50px;
    text-align: center;

}

.xtyh-middle-r table thead tr th {
    text-align: center;
    line-height: 33px;
    border-bottom: #86bfea solid 1px !important;
    cursor: pointer;
    font-size: 13px;
    color: #4a4a4a;
    height: 33px;

}

.xtyh-middle-r table thead tr th img {
    padding-left: 4px;
    padding-top: 3px;
}

.xtyh-middle-r table tbody tr {
    border-bottom: #e6e6e6 solid 1px;
    height: 50px;
    text-align: center;
}

.xtyh-middle-r table {
    width: 100%;
}

.xtyh-middle-r table tbody tr td i {
    cursor: pointer;
}

.xtyh-middle-r table tbody tr td {
    font-size: 13px;
    color: #4a4a4a;
    background: #fff;
}

.xtyh-page {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ecf0f5;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-bottom: 5px;
}

.xtyh-page-l {
    letter-spacing: 2px;
    font-size: 16px;
    color: #4a4a4a;
}

.xtyh-page-r {
    height: 36px;
    display: flex;
    width: 470px;
}

.xtyh-s {
    border: #c3c7ca solid 1px;
    height: 32px;
    width: 32px;
    border-radius: 5px;
    background: url("../images/icon-last.png") no-repeat center;
    margin-right: 2px;
}

.xtyh-x {
    border: #c3c7ca solid 1px;
    height: 32px;
    width: 32px;
    border-radius: 5px;
    background: url("../images/icon-next.png") no-repeat center;
    margin-left: 2px;
}

.xtyh-page-r-li li {
    float: left;
    border: #c3c7ca solid 1px;
    height: 32px;
    width: 32px;
    border-radius: 5px;
    line-height: 32px;
    text-align: center;
    margin: 0 3px;
    font-size: 16px;
    color: #4a4a4a;
}

.xtyh-page-r-li-activ {
    height: 34px;
    width: 34px;
    line-height: 34px;
    background: #5eaee3;
    color: #fff;
}

.xtyh-page-r-li-activ a {
    color: #fff;
}

.zxzgl-middle-l {
    width: 4.5%;
}

.zxzgl-middle-r {
    width: 95%;
}

.infomation-top {
    padding: 0 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 52px;
    background: #fff;
    margin-bottom: 12px;
}

.tbox {
    width: 75%;
    background: #e6e6e6;
    border-radius: 15px;
    height: 30px;
}

.tbox div {
    width: 0;
    height: 30px;
    border-radius: 15px;
    background: #f4cb21;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
}

.infomation-l {
    background: #fff;
}

.infomation-r {
    background: #fff;
}

.infomation-r-top {
    height: 120px;
    background: #5eaee3;
    display: flex;
    align-items: center;
}

.infomation-r-top-l {
    width: 30%;
    display: flex;
    justify-content: center;
}

.infomation-r-top-r {
    width: 70%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.infomation-r-top-r-t {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    letter-spacing: 3px;
}

.infomation-r-top-r-t i a {
    padding-top: 7px;
    padding-left: 10px;
    display: inline-block;
}

.infomation-r-top-r-b {
    display: flex;
    align-items: center;
    color: #fff;
    padding-top: 5px;
    letter-spacing: 1px;
}

.infomation-r-top-r-b i {
    padding: 0 10px 0 20px;
}

.infomation-r-m {
    padding: 30px 12px;
}

.infomation-r-m li {
    line-height: 40px;
    padding-top: 15px;
    border-bottom: #e6e6e6 solid 1px;
    color: #5eaee3;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}

.infomation-r-m li span {
    color: #000;
    display: inline-block;
    min-width: 150px;
}

.infomation-r-kcb {
    border-bottom: #86bfea solid 1px;
    color: #5fade3;
    padding: 20px 40px;
    line-height: 30px;
    font-weight: bold;
    font-size: 18px;
}

.infomation-r-nr-one p {
    font-size: 18px;
    color: #4a4a4a;
}


.infomation-middle-p {
    padding-left: 0 !important;
}

.infomation-r-nr-one {
    border-bottom: #e4e4e4 solid 1px;
    padding: 25px 40px;
}

.infomation-r-nr-one-xz {
    padding: 15px 0;
}

.infomation-r-nr-one-bz {
    padding: 4px 10px;
    background: #e6e6e6;
    border-radius: 5px;
    line-height: 30px;
    width: 100%;
    border: 0;
    outline: none;
    font-size: 18px;
}

/*��ѡ��CSS*/
.radioCheck {
    width: 20px;
    height: 20px;
    margin: 0 auto;

}

.radioCheck label {
    margin-left: 50px;
    margin-right: 50px;
}

.radioCheck label font {
    font-size: 16px;
    line-height: 47px;
    padding-left: 4px;
}

.infomation-r-nr-one-xz > label {
    display: inline-block;
    cursor: pointer;
    color: #4a4a4a;
    font-size: 18px;
    font-weight: normal;
}

label input[type="radio"] + span {
    float: left;
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url(../images/gx.png) no-repeat;
    background-position: -18px 0;
    border: #4b4b4b solid 1px;
    border-radius: 4px;
    margin-right: 5px;
    margin-left: 15px;
    margin-top: 3px;
}

label input[type="radio"]:checked + span {
    background-position: 0 0;
}

.infomation-r-nr-one-but {
    display: flex;
    align-items: center;
    padding: 25px 0 10px 0;
}


.logo-lg {
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
}

.xtyh-nav {
    position: absolute;
    bottom: 60px;
    left: 50px;
    color: #aeafb5;
    font-size: 16px;
}

.xtyh-nav > a {
    color: #4a9ed8 !important;
}

.navbar-nav > li > a {

    padding-bottom: 0;
}

.seat-li-rt > a {
    padding-top: 5px;
    display: inline-block;

}

.seat-li-rt a {
    display: flex;
    height: 40px;
}


.infomation-xg-dh {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.treeview-menu > li > a {
    padding: 0
}


.skin-blue .sidebar-menu > li > a {
    font-size: 15px;
    height: 40px;
}

.skin-blue .sidebar a {
    color: #aeafb5;
}

.skin-blue .main-header .navbar .nav > li > a {
    font-size: 15px;
    padding-top: 10px;

}

.infomation-r-kcb p {
    font-size: 18px;
}

.infomation-r-m li span {
    font-size: 18px;
    color: #4a4a4a;
}

.main-header .logo {
    height: 40px;
    line-height: 40px;
}

.main-header .sidebar-toggle {
    padding: 10px;
}

.index-yzm img {
    width: 100%;
    height: 100%;
}


.xyt {
    background: #5eade3;
    font-size: 16px;
    color: #fff;
    width: 100px;
    height: 42px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    letter-spacing: 2px;
    /*   width: 100%!important; */

    /*     background: url(../images/icon_hx.png) no-repeat center;
        background-size: contain; */
}

.xytfgx {
    width: 100% !important;
    margin: 0 40px;
    height: 42px;
    background: url(../images/icon_hx.png) no-repeat center;
    background-size: contain;


}

.xyt a {
    color: #fff;
}

.jshf a {
    color: #fff;
}

.jshf {
    background: #ff7676 !important;
    font-size: 16px;
    color: #fff;
    width: 120px;
    height: 42px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;

}

.rwqd a, .last a, .next a {
    display: flex;
    color: #fff;
    height: 32px;
    width: 105px;
    padding-left: 40px;
    border-radius: 25px;
    line-height: 32px;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
}

.rwqd a {
    background: url(../images/icon_x04.png) #5eade3 no-repeat 6px center;
    width: 120px;
}

.last a {
    background: url(../images/icon_x03.png) #6d7dd4 no-repeat 5px center;
    padding-left: 34px;
}

.next a {
    background: url(../images/icon_x02.png) #6d7dd4 no-repeat 74px center;
    padding-left: 16px;
}

.seat-middle-top-left-tp a {
    display: flex;
    color: #fff;
    height: 24px;
    width: 64px;
    padding-left: 26px;
    border-radius: 23px;
    line-height: 24px;
    letter-spacing: 1px;
    font-size: 13px;
    background: url(../images/icon_x01.png) #8dc73f no-repeat 1px center;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span {
    padding: 16px 5px 16px 20px;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    top: 51px;
}

.seat-middle {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    height: 80%;
    /*overflow-y: auto;*/
    /*overflow-x: auto;*/
}

.seat-t1 a, .seat-t2 a, .seat-t3 a, .seat-t4 a, .seat-t5 a {
    height: 25px;
    width: 75px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    color: #fff;
    margin-top: 9px;
}

.seat-t1 a {
    background: url(../images/icon_x06.png) #5fade3 no-repeat 3px center;
}

.seat-t2 a {
    background: url(../images/icon_x07.png) #fc7876 no-repeat 3px center;
}

.seat-t3 a {
    background: url(../images/icon_x08.png) #6b7ad3 no-repeat 3px center;
}

.seat-t4 a {
    background: url(../images/icon_x09.png) #ffb64f no-repeat 3px center;
}

.seat-t5 a {
    background: url(../images/icon_x10.png) #dc1616 no-repeat 3px center;
}

.seat-middle-one-top-m {
    width: 245px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 1700px) {
    .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span {
        padding: 10px 5px 10px 20px;
    }

    .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
        top: 41px;
    }

    .seat-middle-top {
        margin: 0;
        height: 40px;
    }

    .seat-middle-top-left-tp a {
        font-size: 15px;
    }

    .seat-middle-row {
        margin-top: 15px !important;
    }

    .rwqd a, .last a, .next a {
        font-size: 14px;
        display: flex;
        color: #fff;
        height: 26px;
        width: 90px;
        padding-left: 30px;
        border-radius: 25px;
        line-height: 26px;
        letter-spacing: 1px;
    }

    .rwqd a {
        background: url(../images/icon_x04.png) #5eade3 no-repeat 2px center;
        width: 100px;
    }

    .last a {
        background: url(../images/icon_x03.png) #6d7dd4 no-repeat 1px center;
    }

    .next a {
        background: url(../images/icon_x02.png) #6d7dd4 no-repeat 64px center;
        padding-left: 14px;
    }

    .seat-middle-top-right input, .infomation-r-nr-one-bz, .skin-blue .main-header .navbar .nav > li > a, .xtyh-middle-r table tbody tr td, .xtyh-page-l, .xtyh-page-r-li li, .seat-sk input {
        font-size: 12px;
    }

    .seat-middle-top-left-bt, .xtyh-nav, .skin-blue .sidebar-menu > li > a, .treeview span, .xtyh-middle-l li, .xtyh-middle-r table thead tr th, .seat-tab li a {
        font-size: 15px;
    }

    .sidebar-menu > li > a {
        padding: 13px;
    }

    .xtyh-middle-l li {
        line-height: 46px;
    }

    .xtyh-middle-l li, .xtyh-middle-r table thead tr, .xtyh-middle-r table tbody tr {
        height: 46px;
    }

    .xtyh-middle-l {
        width: 13%;
    }

    /*     .xtyh-middle-r{
            width: 86.2%;
        } */
    .infomation-xg-dh {
        padding-left: 15px;
        padding-right: 15px;
        justify-content: center;
    }

    .infomation-r-m li span {
        display: block;
    }

    .seat-middle-nr {
        height: 500px;
    }

    .infomation-r-top-r-t {
        font-size: 22px;
    }

    .infomation-r-top-r-b i {
        padding: 0 10px 0 0;
    }

    .infomation-r-m li span, .infomation-r-m li, .infomation-r-kcb p, .infomation-r-nr-one p, .infomation-r-nr-one-xz > label {
        font-size: 15px;
    }

    .infomation-r-kcb, .infomation-r-nr-one {
        padding: 15px 30px;
    }

    .infomation-r-nr-one-xz {
        padding: 8px 0;
    }

    .infomation-r-m li {
        padding-top: 10px;
        line-height: 30px;
    }

    .infomation-r-m {
        padding: 10px 12px 15px 12px;
    }

    .infomation-r-kcb p, .infomation-r-m li span {
        line-height: 22px;
    }

    .seat-middle-one-top-m h3 {
        font-size: 20px;
    }

    .seat-middle-one-bottom a {
        font-size: 16px;
    }

    .infomation-r-top-l {
        display: none;
    }

    .infomation-r-top-r {
        width: 100%;
    }

    .infomation-r-top-r-b {
        width: 100%;
        justify-content: center;
    }

    .content {
        padding: 10px 15px;
    }

    .infomation-top {
        height: 40px;
    }

    .seat-tab {
        height: 40px;
    }

    .seat-tab li {
        height: 40px;
        line-height: 40px;
    }

    .tbox {
        height: 20px;
    }

    .tbox div {
        height: 20px;
        line-height: 20px;
    }

    .xyt {
        font-size: 16px;
        width: 80px;
        height: 36px;
    }

    .jshf {
        font-size: 16px;
        width: 120px;
        height: 36px;
    }

    .skin-blue .sidebar-menu > li > a {
        font-size: 15px;
        height: 35px;
    }

}


/*������*/
.content {
    height: 820px;
    overflow-x: auto;
}

@media screen and (max-width: 1680px) {
    .content {
        height: 800px;
        overflow-x: auto;
    }

    .seat-middle-nr {
        height: 700px;
    }

    .seat-middle-one-top-m {
        width: 185px;
    }

    .index-middle {
        right: 12%;
        width: 25%;
    }
}

@media screen and (max-width: 1600px) {
    .content {
        height: 650px;
    }

    .seat-middle-nr {
        height: 550px;
    }

    .seat-middle-one-top-m {
        width: 175px;
    }

    .index-middle {
        height: 64%;
    }
}

@media screen and (max-width: 1440px) {
    .seat-middle-one {
        background: #fff;
        height: 200px;
        border-radius: 15px;
        padding: 0 !important;
        margin-bottom: 15px;
        float: left;
        width: 48%;
        margin-right: 1%;
        margin-left: 1%;
    }

    .seat-middle-one-top-m {
        width: 245px;
    }

    .index-middle {
        height: 59%;
        width: 20%;
    }
}

@media screen and (max-width: 1366px) {
    .content {
        height: 530px;
        overflow-x: auto;
    }

    .seat-middle-nr {
        height: 420px;
    }

    .index-middle {
        height: 50%;
        top: 28%;
    }
}

.table-bordered > tbody > tr > td {
    border-bottom: #e6e6e6 solid 1px !important;

}

#nairetable tbody td {
    text-align: center;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > td {
    border-right: 0 !important;
}

table tbody tr td textarea {
    border: #ccc solid 1px !important;
    text-indent: 0.5em !important;
    border-radius: 5px !important;
    padding: 10px 5px;
}

.box-header select {
    border: #ccc solid 1px !important;
    border-radius: 5px !important;
}

/*.cy_bj {*/
/*    background: url(../images/icon-xiugai.png) no-repeat center 3px;*/
/*    height: 26px;*/
/*    width: 26px;*/
/*    display: inline-block;*/
/*    cursor: pointer;*/
/*}*/

.cy_sc {
    background: url(../images/icon-delete.png) no-repeat center 3px;
    height: 26px;
    width: 26px;
    display: inline-block;
    cursor: pointer;
}

.table.dataTable {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}


.seat-middle-top {
    margin-top: 15px;
}

.xtyh-middle-l {
    width: 13% !important;
}


.benma_ui_tab .tab_item:hover {
    border-bottom: #62ade4 solid 3px;
    color: #4a4a4a;
}

.cy_th {
    /*width: 60px !important;*/
    /* height: 32px!important; */
    /* line-height: 34px!important; */
    /* display: inline-block; */
    background: #4b9dd7 !important;
    color: #fff !important;
    border-bottom: #81bef5 solid 1px !important;
    /* padding-left: 15px!important; */
    /* padding-right: 15px!important; */
}

.cy_td {
    width: 60px !important;
    /* height: 32px!important; */
    /* line-height: 34px!important; */
    /* display: inline-block; */
    background: #4b9dd7 !important;
    color: #fff !important;
    border-bottom: #81bef5 solid 1px !important;
    /* padding-left: 15px!important; */
    /* padding-right: 15px!important; */
}

#cy_thk {
    width: 1px;
    background: #ecf0f5;
    border-bottom: #ecf0f5 solid 1px !important;
    color: #ecf0f5;
}

.pagination > li > a {
    float: left !important;
    border: #c3c7ca solid 1px !important;
    height: 32px !important;
    width: 32px !important;
    border-radius: 5px !important;
    line-height: 32px !important;
    text-align: center !important;
    margin: 0 3px !important;
    font-size: 16px !important;
    color: #4a4a4a;
    padding: 0 !important;
}

.pagination > .active > a {
    background-color: #5eaee3 !important;
    border-color: #5eaee3 !important;
    padding: 0 !important;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 99999s;
    -webkit-transition: color 99999s ease-out, background-color 99999s ease-out;
}

#example2_previous > a {
    background: url(../images/icon-last.png) no-repeat center;
}

#example2_next > a {
    background: url(../images/icon-next.png) no-repeat center;
}

#example_dic_previous > a {
    background: url(../images/icon-last.png) no-repeat center;
}

#example_dic_next > a {
    background: url(../images/icon-next.png) no-repeat center;
}

#customtable_previous > a, #example5_previous > a {
    background: url(../images/icon-last.png) no-repeat center;
}

#customtable_next > a, #example5_next > a {
    background: url(../images/icon-next.png) no-repeat center;
}

#example2_info {
    font-size: 16px;
}

.xtyh-middle-r table thead tr th {
    background: #fff;
}


@media screen and (max-width: 1920px) {
    .row-zg {
        position: fixed;
        bottom: 5px !important;
        width: 100%;
        height: 41px;

    }
}
@media screen and (max-width: 1366px) {
    .row-zg {
        position: fixed;
        bottom: 0 !important;
        width: 100%;
        height: 36px;
    }
}
.row-zg1 {
    position: fixed;
    bottom: 0 !important;
    width: 100%;
    height: 41px;
}

.row-two {
    height: 89%;
    /*overflow-x: auto;*/
}

.content-wrapper, .container-fluid {
    height: 100%;
}

#example2_wrapper {
    height: 100%;
}

html, body {
    height: 100%;
}

body {
    border: 0 !important;
}

html {
    overflow: hidden;
}

.zxzgl-middle-r {
    width: 100% !important;
}

.ex-gd {
    width: 75%;

    border-radius: 15px;
    height: 30px;
    display: flex;
    align-items: center;
}

.ex-gd-n {
    width: 90%;
    float: left;
    height: 28px !important;
    border-radius: 15px !important;
    background: # #e6e6e6 !important;
    text-align: center !important;
    font-size: 16px !important;
    line-height: 20px !important;
    color: #fff;
    margin-bottom: 0 !important;
}

.pull-right {
    padding-left: 10px;
    font-size: 14px;
}

.progress-bar-green {
    background-color: #f4cb21 !important;
}

.progress-bar {
    border-radius: 15px !important;
}

@media screen and (max-width: 1600px) {
    .xtyh-middle-r table thead tr th {
        text-align: center;
        line-height: 24px;
        border-bottom: #86bfea solid 1px !important;
        cursor: pointer;
        font-size: 12px;
        color: #4a4a4a;

    }

    .cy_td {

        height: 31px !important;
    }
}


/* table.dataTable thead .sorting_asc:after{
	    content: none!important;
} */
.ex-li1 {
    padding:
}

.ex-pd {
    padding: 5px 40px;
}

.cs-bgx {

    background: #5eaee3;
}

#nairetable_previous > a {
    background: url(../images/icon-last.png) no-repeat center;
}

#nairetable_next > a {
    background: url(../images/icon-next.png) no-repeat center;
}

.cy-g-a > span {
    padding-left: 7px;
}

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting {
    padding-right: 0 !important;
}

table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting:after {
    display: none;
}

.img-circle {
    border-radius: 0 !important;
}

.new-active {
    color: #ffffff !important;
    background: url(../images/icon_57.png) no-repeat 5px center;
}

.main-header .logo {

    padding: 0 10px !important;
}


.page-content .table-striped > tbody > tr > td {
    border: 0 !important;
}

#table_report input {


    text-indent: 0.5em !important;


}

#table_report select {

    text-indent: 0.5em !important;

}

#table_report > tbody > tr > td {
    border-bottom: 0 !important;
}

.modal-header {
    background: #4a9ed8;
    color: #fff;
}

.new-cy-body {
    border-radius: 10px;
}


.modal-content {
    border-radius: 15px;
}

.modal-header {
    border-radius: 15px 15px 0 0;
}

.table-bordered {
    border: 0 !important;
}

.new-tb {
    background: url(../images/new-gb.png) no-repeat center;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.modal-header {
    padding: 7px 20px;
}

.modal-title {
    line-height: 35px;
}

.page-content {
    background: #eef2f5;
    border-radius: 15px;
}

.new-wkj {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new-tk-body {
    display: flex;
    margin-bottom: 16px;

}

.new-tk-body-one {
    display: flex;
    align-items: center;
    margin: 10px;
    width: 400;
}

.one-wk-l {
    /*   padding: 0 20px; */
    letter-spacing: 2px;
    min-width: 120px;
    text-align: center;
}

.one-wk-r {
    border-left: #616161 solid 1px;

}

.one-wk-r > input {
    border: 0 !important;

    min-width: 200px;
    outline: none;

}

.new-tk-body-one span {
    color: red;
    display: inline-block;
    padding-left: 15px;
}

.new-tk-body-one-wk {
    display: flex;
    align-items: center;
    background: #fff;
    height: 50px;
    border-radius: 10px;
    width: 360px;
}

.new-gbkd {
    width: 205px !important;
}

.new-gbkd > .one-wk-r > select {
    min-width: 90px !important;
}

.new-gbkd > .one-wk-r > input {
    min-width: 70px !important;
    width: 125px;
}

.new-bc {
    width: 100%;
    display: flex;
    justify-content: center;
}

.new-bc a {
    background-color: #4a9ed8;
    border-color: #4a9ed8;
    padding: 8px 30px;
    border-radius: 7px;
    color: #fff;

    cursor: pointer;
}

.new-tk-body-one p {
    display: inline-block;
    padding-left: 10px;
}

.new-qxbut {
    display: inline-block;
    margin-left: 80px;
    background: #ff7776 !important;
}

.new-block {
    width: 100%;
    padding: 10px;
}

.one-wk-r > select {
    border: 0 !important;
    letter-spacing: 2px;
    min-width: 230px;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(../images/new-xa.png) no-repeat 195px center;
    background-size: 12%;

}

.new-gbkd > .one-wk-l {
    padding: 0 20px;
    min-width: auto;
}

.new-gbkd > .one-wk-r > select {
    background: url(../images/new-xa.png) no-repeat 55px center;
    background-size: 31%;
}

table tbody tr td span p {
    display: inline-block;
}


@media screen and (max-width: 1700px) {
    .main-header .logo {
        height: 40px;
        line-height: 40px;
    }

    .main-header .navbar {
        height: 40px;
        /*   line-height: 45px; */
        min-height: 40px;
    }

    .seat-sk {
        margin: 6px 0 0 10px;
    }

    .dropdown-sz-tp {
        background: url(../images/icon-set.png) no-repeat left 8px;
    }

    .dropdown-tc-tp {
        background: url(../images/icon-exit.png) no-repeat left 8px;
    }

    .skin-blue .main-header .navbar .nav > li > a {
        padding-top: 10px;
    }

    .modal-header {
        padding: 5px 20px;
    }

    .new-tb {
        background: url(../images/new-gb.png) no-repeat center;
        background-size: 85%;
    }

    .modal-title {
        font-size: 16px;
    }

    .new-tk-body-one-wk {
        height: 40px;
    }

    .one-wk-r > select {
        background-size: 10%;
    }

    .new-gbkd > .one-wk-r > select {
        background-size: 25%;
    }

    #table_report input {
        height: 25px !important;
    }

    #table_report select {
        height: 25px !important;
    }

}

.new-left {
    display: flex;
    align-items: center;
    width: 100%;
}

.new-tx {
    display: flex;
    align-items: center;
    width: 100%;
}

.new-tx > .new-tk-body-one-wk {
    width: 100%;
}

.new-tx > .new-tk-body-one-wk .one-wk-r {
    width: 100%;
}

.new-tck-zk {
    padding: 20px;
}

.one-wk-r > textarea {
    border: 0 !important;

    min-width: 200px;
    outline: none;
    width: 100%;
    border-radius: 0 15px 15px 0;
}

.new-tx .one-wk-r > select {
    background: url(../images/new-xa.png) no-repeat 540px center;
    background-size: 5%;
    width: 100%;
}

.new-qxbut1 {
    display: inline-block;

    background: #ff7776 !important;
}

.new-c-wk {
    width: 100%;
    display: flex;
    justify-content: center;
}

.icon {
    font-size: 20px !important;
}

.close:focus, .close:hover {
    color: #fff;

    opacity: 1;
}

.close {
    line-height: initial;
    font-weight: normal;
    margin-top: 0 !important;
    opacity: 1;
    color: #fff;
}

.cy-pzd {
    background: url(../images/cktp.png) no-repeat center 3px;
    height: 26px;
    width: 26px;
    display: inline-block;
    cursor: pointer;
}

.seat-middle-top1 {
    height: 52px;
    display: flex;
    align-items: center;
    background: #fff;
    justify-content: space-between;
}

.seat-middle-top-left-tp {
    cursor: pointer;
}

.smtl a {
    width: 115px !important;
}

.smt-wk {
    margin: 0 20px;
}

.newwksz {
    margin: 10% 10% 0 10%;
}

@media screen and (max-width: 1400px) {
    .skin-blue .sidebar-menu .treeview-menu > li > a {
        font-size: 12px;
    }

    .cy-g-a > span {
        font-size: 13px;
    }

    .seat-middle-top-left-tp a {
        font-size: 14px;
    }

    .seat-middle-top-left-bt {
        font-size: 14px;
    }

    #example2_info {
        font-size: 15px;
    }

    .pagination > li > a {
        font-size: 15px !important;
    }
}

.new-ys > span {
    color: #4b9dd7;
    text-decoration: underline;
}

@media screen and (min-width: 1367px) and (max-width: 1600px) {
    .xtyh-middle-l li, .xtyh-middle-r table thead tr, .xtyh-middle-r table tbody tr {
        height: 41px;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 0 8px;
    }

    .xtyh-middle-r table thead tr th {
        line-height: 40px;
    }
}

@media screen and (min-width: 960px) and (max-width: 1366px) {
    .xtyh-middle-l li, .xtyh-middle-r table thead tr, .xtyh-middle-r table tbody tr {
        height: 35px;
    }

    .xtyh-middle-r table thead tr th {
        line-height: 37px;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 0 8px;
    }
}

.center i img {
    width: 24px;
    height: 24px;
}
